<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="CarritoL.length >= 1">
  <ion-item>
    <ion-label style="font-weight: bold">Productos en el carrito</ion-label>
  </ion-item>

  <ion-list *ngFor="let item of CarritoL">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <!--<ion-label>1 - Elote entero blanco</ion-label>-->
              <ion-label>{{item.cantidad}} - {{item.producto}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label> {{item.total}}MXN</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlertEliminarProducto(item)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-item>
    <ion-label style="font-weight: bold">Total: </ion-label>
    <ion-label slot="end">{{total}}.00MXN</ion-label>
  </ion-item>

  <div *ngIf="razonRechazo == 1">  
    <br>
    <ion-label style="font-weight: bold">Observaciones: </ion-label>
    <ion-label>Su carrito contiene uno o varios productos no disponibles favor de verificar</ion-label>
  </div>

</ion-content>

<ion-footer *ngIf="CarritoL.length >= 1">
  <ion-label
    ><small style="text-align: center; color:black;"
      >*Recuerda que al comprobar disponibilidad te comprometes a pasar por tus
      elotes.</small
    ></ion-label
  >
  <ion-button expand="full" [disabled]="desactivarBotonPedido" (click)="presentAlertConfirmDisponibilidad()">Comprobar disponibilidad</ion-button>
</ion-footer>

<ion-content *ngIf="CarritoL.length == 0">
<ion-list>
    <br>
    <ion-img style="width: auto; height: 125px;" src="assets/icon/CarritoCompras.png"></ion-img>
    <ion-item>
      <ion-label class="ion-text-center">! No hay articulos en tu carrito !</ion-label>
    </ion-item>
    
    <div class="ion-text-center" *ngIf="CarritoOrdenPedida.length >= 1">
      <br>
      <ion-label>Tu orden esta siendo procesada!</ion-label>
    </div>
    
</ion-list>
</ion-content>