<ion-header>
  <ion-toolbar>
    <ion-title>Historial</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="left: 3%;">
<div *ngIf="Cantidad" class=" bg-white rounded-lg shadow">
  <ion-list *ngFor="let item of CarritoL">
    <ion-label class="divide-y-2 divide-gray-100">Fecha: {{item.fecha}}</ion-label>
      <ion-item *ngFor="let itemP of item.data">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{itemP.cantidad}} - {{itemP.producto}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label> {{itemP.total}}MXN</ion-label>
            </ion-col>
          </ion-row>
      </ion-grid>
      </ion-item>
  </ion-list>

  <!--
     <ion-list *ngFor="let item of CarritoL">
    <ion-label>Fecha: {{item.fecha_creacion}}</ion-label>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{item.cantidad}} - {{item.producto}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label> {{item.total}}MXN</ion-label>
            </ion-col>
          </ion-row>
      </ion-grid>
      </ion-item>
  </ion-list>
  -->
</div>

<div *ngIf="!Cantidad">
<ion-item>
  <ion-label>
    <p>No hay datos para mostrar</p>
    <h2>Compra productos en nuestra sucursal movil!</h2>
  </ion-label>
</ion-item>
</div>
  
</ion-content>
