<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <br>
    <ion-img style="width: auto; height: 125px;" src="assets/icon/SELogo.png"></ion-img>
    <form [formGroup]="myForm">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input  type="email" required formControlName="correo"></ion-input>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>
    <hr>
      <ion-button expand="block" (click)="login()" [disabled]="myForm.invalid">Iniciar sesión  <ion-icon name="log-in-outline"></ion-icon></ion-button>
    </form>
  </div>
</ion-content>
