<!-- home.page.html -->
<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-button (click)="loadMap()" shape="round" color="dark">
      <ion-icon slot="start" name="locate"></ion-icon>
      
    </ion-button>
    <ion-title slot="end">Mapa</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="map-wrapper">
    <!--
    <div id="map_center">
      <img src="assets/icon/location-marker.png" />
    </div>-->
    <div #map id="map" ></div>
  </div>
<!--
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <b>Lattitude</b>
      </ion-col>
      <ion-col>
        {{latitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <b>Longitude</b>
      </ion-col>
      <ion-col>
        {{longitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col>
        {{address}}
      </ion-col>
    </ion-row>
  </ion-grid>
-->
<!-- fab placed in the center of the content with a list on each side -->
<!--<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    
    <ion-fab-button *ngIf="!estadoUsuario" (click)="irLogin()"><ion-icon name="log-in-outline"></ion-icon></ion-fab-button>
    <ion-fab-button *ngIf="!estadoUsuario" (click)="irCrearCuenta()"><ion-icon name="person-add-outline"></ion-icon></ion-fab-button>
    <ion-fab-button *ngIf="!estadoAdmin && estadoUsuario" (click)="presentModal()"><ion-icon name="timer-outline"></ion-icon></ion-fab-button>
    <ion-fab-button *ngIf="estadoAdmin" (click)="irDashboard()"><ion-icon name="bar-chart-outline"></ion-icon></ion-fab-button>
    <ion-fab-button *ngIf="estadoUsuario" (click)="cerrarSesion()"><ion-icon name="log-out-outline"></ion-icon></ion-fab-button>

  </ion-fab-list>
</ion-fab>-->

</ion-content>