<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{titulo}} </ion-title>
    <ion-button
      [disabled]="estadoUsuario == false"
      [hidden] = "estadoAdmin  == true"
      (click)="presentModalCarrito()"
      slot="end"
      fill="clear"
    >
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="estadoAdmin  == false">
  <ion-list>
    <ion-item
      [disabled]="estadoUsuario  == false || item.disponible == 0"
      (click)="presentModal(item)"
      *ngFor="let item of productosL"
    >
      <ion-grid>
        <ion-row>
          <ion-col style="margin-top: 30px; margin-right: 10px">
            <ion-label style="width: 100px; font-size: small"
              ><strong>{{item.producto}}</strong></ion-label
            >
            <ion-label style="font-size: small">{{item.precio}} MXN</ion-label>
          </ion-col>
          <ion-col>
            <!--<ion-img src="https://www.196flavors.com/wp-content/uploads/2020/08/elote-loco-2-FP-500x500.jpeg" style="width: 105px;"></ion-img>-->
            <ion-img
              [src]="item.img"
              style="width: 80px; height: auto"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <hr />
  </ion-list>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="estadoAdmin  == true">
    <h4 class="Espaciado">Pedidos</h4>
    <ion-list *ngIf="OrdenesA.length == 0">
      <div >
        <br>
        <ion-img style="width: auto; height: 125px;" src="assets/icon/CarritoCompras.png"></ion-img>
        <ion-item>
          <ion-label class="ion-text-center">No hay ordenes!</ion-label>
        </ion-item>
         </div>
    </ion-list>
    <ion-list>
      <ion-item-group *ngFor="let item of OrdenesA">
        <ion-item-divider>
          <ion-label>{{item.user}}</ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let cell of item.data">
          <ion-label><strong>{{cell.producto}}</strong></ion-label>
          <ion-label>{{cell.cantidad}}</ion-label>
        </ion-item>
        <ion-button expand="full" (click)="presentAlertConfirm(item)">Acciones</ion-button>
        <!--<ion-item>
          <ion-label>Razones para rechazar</ion-label>
          <ion-select>
            <ion-select-option *ngFor="let item of razonRechazo" [value]="item.id" [(ngModel)]="razonRechazo_id">{{item.razon}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="full" (click)="RechazarPedido(item)" color="danger" [disabled]="razonRechazo_id >= 1">Rechazar pedido</ion-button>
        -->
        <br>
      </ion-item-group>
    </ion-list>
    <h4 class="Espaciado">Desactivar productos</h4>
    <ion-list>
      <ion-item
        *ngFor="let item of productosL"
      >
        <ion-grid>
          <ion-row>
            <ion-col style="margin-top: 30px; margin-right: 10px">
              <ion-label style="width: 100px; font-size: small"
                ><strong>{{item.producto}}</strong></ion-label
              >
              <ion-label style="font-size: small">{{item.precio}} MXN</ion-label>
              <ion-toggle (click)="desactivarProducto(item)" [checked]="item.disponible == 1"></ion-toggle>
            </ion-col>
            <ion-col class="align-text-middle">
              <!--<ion-img src="https://www.196flavors.com/wp-content/uploads/2020/08/elote-loco-2-FP-500x500.jpeg" style="width: 105px;"></ion-img>-->
              <ion-img
                [src]="item.img"
                
                class="center"
              ></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <hr />
    </ion-list>

</ion-content>

<!--
  <ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="presentModal()" *ngFor="let item of productosL">
      <ion-grid>
        <ion-row>
          <ion-col style="margin-top: 30px; margin-right: 10px;">
            <ion-label><strong>{{item.producto}}</strong></ion-label>
            <ion-label>{{item.precio}} MXN</ion-label>
            </ion-col>
          <ion-col >
            <ion-img src="https://www.196flavors.com/wp-content/uploads/2020/08/elote-loco-2-FP-500x500.jpeg" style="width: 105px;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <hr>
  </ion-list>
</ion-content>
-->
