#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
  }

  hr {
    background: white;
}

.Espaciado {
  text-indent: 6px !important;
}

.center {
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  width: 100px;
  height: auto;
}

.align-text-middle {
  display: flex;
  align-items: center;
}