<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 3 page"></app-explore-container>
  -->
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Toogle Dark Mode</ion-label>
      <ion-toggle slot="end" (ionChange)="change($event)"></ion-toggle>
    </ion-item>
  </ion-list>
  
  <div collapse="condense" *ngIf="!estadoUsuario">
      <p class="labels">Iniciar sesión</p>
      <hr>
    <ion-button expand="block" (click)="irLogin()">Iniciar sesión  <ion-icon name="log-in-outline"></ion-icon></ion-button>
    
    <p class="labels">Crear Cuenta</p>
    <hr>
  <ion-button expand="block" (click)="irCrearCuenta()" color="secondary">Crear cuenta<ion-icon name="log-in-outline"></ion-icon></ion-button>
  </div>
  
  <div collapse="condense" *ngIf="estadoUsuario">
    
    <div collapse="condense" *ngIf="!estadoAdmin">
      <p class="labels">Historial</p>
      <hr>
      <ion-button expand="block" color="warning" (click)="presentModal()">Ver Historial <ion-icon name="bag-check-outline"></ion-icon></ion-button>
    </div>

    <div collapse="condense" *ngIf="estadoAdmin">
      <p class="labels">Dashboard</p>
      <hr>
      <ion-button expand="block" color="success" (click)="irDashboard()">Dashboard  <ion-icon name="log-out-outline"></ion-icon></ion-button>
    </div>
    <p class="labels">Cerrar sesión</p>
    <hr>
    <ion-button expand="block" color="danger" (click)="cerrarSesion()">Cerrar sesión  <ion-icon name="log-out-outline"></ion-icon></ion-button>
  </div> 

</ion-content>
