<ion-header>
  <ion-toolbar>
    <ion-title>Producto</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-img src="https://www.196flavors.com/wp-content/uploads/2020/08/elote-loco-2-FP-500x500.jpeg" style="width: 100%; height: auto; align-self: start;"></ion-img>-->
  <ion-img [src]="data.img" style="width: 100%; height: auto; align-self: start;"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col style="margin-top: 30px; margin-left: 20px;">
        <ion-label><strong>{{data.producto}}</strong></ion-label>
      </ion-col>
      <ion-col style="margin-top: 30px;">
        <ion-label>{{data.precio}} MXN</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button [disabled]="desactivarBotonResta" (click)="restarCantidad()">
          <ion-icon name="remove-outline" fill="outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" style="margin-top: 5%;">
        <ion-label style="margin-left: 50%;">{{cantidadAPedir}}</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-button [disabled]="desactivarBotonSuma" (click)="aumentarCantidad()">
          <ion-icon name="add-outline" fill="outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" (click)="presentAlertConfirm()" [disabled]="desactivarBotonPedido">Realizar Pedido</ion-button>

</ion-content>