<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        {{nombreChartProductosVendidos}}
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        {{nombreChartUsuariosAdmins}}
      </ion-card-header>
      <ion-card-content>
        <canvas #UserAdminsCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
